@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  width: 98.5%;
  margin: 0;
  padding: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

.sidebar {
  max-width: 234px;
  flex-shrink: 0; 
}

.topbar {
  justify-content: flex-end;
  top: 24px;
}